*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  background: no-repeat center/100% url("./background.jpg");
  line-height: 1.6;
  font-family: Arial, Helvetica, 'sans-serif';
  font-size: 15px;
  text-rendering: optimizeLegibility;
}
